{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 95,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}